/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 9, 2020, 2:46:21 PM
    Author     : amt
*/
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    font-family:sans-serif;
}

.menu-header
{
    background: rgb(0,100,0);
    text-align: center;
}
.menu-header ul
{
    display:inline-flex;
    list-style: none;
    color:#fff;
    
}
.menu-header ul li
{
    width: 210px;
    margin: 15px;
    padding: 15px;
    font-size: 17px;
}
.menu-header ul li a
{
  text-decoration: none;
  color:#fff;
}
.active, .menu-header ul li:hover
{
    background: #2bab0d;
    border-radius: 3px;
}